{{left_sidebar_enabled,right_sidebar_enabled=True,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<h1>Publication Status Tool</h1>
<ul>
{{for citation in report:}}
{{=LI(citation)}}
{{pass}}
</ul>

{{block left_sidebar}}
{{=A(T("Check and Update"), _href=URL("arachadmin","publication","check_update"), _class="btn",
    _style="margin-top: 1em")}}
<br/>
{{=A(T("Update DOI's"), _href=URL("arachadmin","publication","update_dois"), _class="btn",
    _style="margin-top: 1em")}}

{{end}}
