{{extend 'layout.html'}}
<h1>Enter/edit record for an assertion</h1>
<DIV class="row">
   <DIV class="span6">
       <h3>Assertion form</h3>
      {{=main_form}}
       <h3>Table of associated participants</h3>
      {{headers=['assertion','participant','index']}}
      {{=TABLE(
         THEAD(TR(*[TH(header) for header in headers])),
         TBODY(*[TR(TD(row['assertion']),
                    TD(A(row['participant'],_href=row['participant_link'])),
                    TD(row['index']))
         for row in link_table]))}}
   </DIV>
   <DIV class="span6">
       <h3>Participant form</h3>
      {{=participant_form}}
   </DIV>
</DIV>
<br/>
{{=A(T("Enter New Assertion"), _href=URL('arachadmin','assertion','enter'), _class='btn',
     _style='margin-top: 1em;')}}
<br/>
