{{extend 'layout.html'}}
<h1>Enter/edit record for a claim/observation</h1>
<DIV class="row">
   <DIV class="span6">
       <h3>Claim/Observation form</h3>
      {{=main_form}}
       <h3>Table of associated participants</h3>
      {{headers=['claim','participant','index']}}
      {{=TABLE(
         THEAD(TR(*[TH(header) for header in headers])),
         TBODY(*[TR(TD(row['claim']),
                    TD(A(row['participant'],_href=row['participant_link'])),
                    TD(row['index']))
         for row in link_table]))}}
   </DIV>
   <DIV class="span6">
       <h3>Participant form</h3>
      {{=participant_form}}
   </DIV>
</DIV>
<DIV class="row">
  <DIV class="foo">
  </DIV>
  <SCRIPT>
    var width = 960;
    var height = 500;


    var graph = 
       {nodes: [
         {atom: {{=element_list[0]}}, "size": 10},
         {atom: {{=element_list[1]}}, "size": 10}
        ],
       links: []
    }

    var old_graph = 
       {nodes: [
          {atom: "C", "size": 12},
          {atom: "C", "size": 12},
          {atom: "C", "size": 12},
          {atom: "N", "size": 14},
          {atom: "H", "size": 1},
          {atom: "O", "size": 16},
          {atom: "O", "size": 16},
          {atom: "H", "size": 1},
          {atom: "H", "size": 1},
          {atom: "H", "size": 1},
          {atom: "H", "size": 1},
          {atom: "H", "size": 1},
          {atom: "H", "size": 1}
         ],
        links: [
          {"source": 0, "target": 1, "bond": 1},
          {"source": 1, "target": 2, "bond": 1},
          {"source": 1, "target": 3, "bond": 1},
          {"source": 2, "target": 5, "bond": 2},
          {"source": 2, "target": 6, "bond": 1},
          {"source": 1, "target": 4, "bond": 1},
          {"source": 3, "target": 10, "bond": 1},
          {"source": 3, "target": 11, "bond": 1},
          {"source": 0, "target": 7, "bond": 1},
          {"source": 0, "target": 8, "bond": 1},
          {"source": 0, "target": 9, "bond": 1},
          {"source": 5, "target": 12, "bond": 1},
         ]
    };

    var color = d3.scale.category20();

    var radius = d3.scale.sqrt()
        .range([0, 6]);

    var svg = d3.select(".foo").append("svg");

    svg.attr("width", width)
       .attr("height",height);


    var force = d3.layout.force()
        .size([width, height])
        .charge(-400)
        .linkDistance(function(d) { 
                         return radius(d.source.size) + 
                                 radius(d.target.size) + 20; });

    
    force.nodes(graph.nodes)
         .links(graph.links)
         .on("tick", tick)
         .start();

    var link = svg.selectAll(".link")
         .data(graph.links)
         .enter().append("g")
         .attr("class", "link");

    link.append("line")
        .style("stroke-width", function(d) { 
                                   return (d.bond * 2 - 1) * 2 + "px"; 
                                });

    link.filter(function(d) { return  d.bond  > 1; })
        .append("line")
        .attr("class", "separator");

    var node = svg.selectAll(".node")
         .data(graph.nodes)
         .enter().append("g")
         .attr("class", "node")
         .call(force.drag);

    node.append("rect")
        .style("fill", function(d) { return color(d.atom); });

    node.append("text")
        .attr("dy", ".35em")
        .attr("text-anchor", "middle")
        .text(function(d) {return d.atom; });

    function tick() {
        link.selectAll("line")
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node.selectAll("rect")
            .attr("x", function(d) {return d.x - 15; })
            .attr("y", function(d) {return d.y - 15; })
            .attr("height", 30)
            .attr("width", 30);
        node.selectAll("text")
            .attr("x", function(d) { return d.x; })
            .attr("y", function(d) { return d.y; });
                  
   }

    
  </SCRIPT>
</DIV>
<br/>
{{=A(T("Enter New Claim/Observation"), _href=URL('arachadmin','claim','enter'), _class='btn',
     _style='margin-top: 1em;')}}
<br/>
