{{extend 'layout.html'}}
<html>
    <head></head>
    <body>
        <h1>Current claims</h1>
        <ul>
            {{for item in items:}}
            {{if 'participant' in item:}}
            {{=LI("claim #", A(item['id'], _href=item['link']), " ", item['behavior'], 
                         ", by " ,item['participant'], " reported by ", item['publication_authors'])}}
            {{else:}}
            {{=LI("claim #", A(item['id'], _href=item['link']), " ", item['behavior'], ", reported by ", item['publication_authors'])}}
            {{pass}}
            {{pass}}
       </ul>
        {{response.toolbar()}}
    </body>
</html>
