{{left_sidebar_enabled,right_sidebar_enabled=True,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<h1>Publication Status Tool</h1>
{{=BEAUTIFY(response._vars)}}

{{headers=['claim','issue']}}
{{=TABLE(
  THEAD(TR(*[TH(header) for header in headers])),
  TBODY(*[TR(TD(A(item[0],_href=URL("enter", args=item[2]))),
             TD(SPAN(str(item[1]),_style="color:#CC0000; font-weight:bold")))
    for item in report]))}}


{{block left_sidebar}}
{{=A(T("Check and Update"), _href=URL("arachadmin","claim","check_update"), _class="btn",
    _style="margin-top: 1em")}}
<br/>

{{end}}
